@{
  Layout = "_Layout";
}

<center>
  <h2 class="turn1">Player 1 Turn</h2>
  <h2 class="turn2">Player 2 Turn</h2>
  <h3 id="newword">Current Word: </h3>
  <button id="turnEnd" type="submit" class="btn btn-warning">End Turn</button>
</center>
<div class="container">
  <div id="row1" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,1" class="col-sm-1 cell top-side"></div>
    <div id="B,1" class="col-sm-1 cell top-side"></div>
    <div id="C,1" class="col-sm-1 cell top-side"></div>
    <div id="D,1" class="col-sm-1 cell top-side"></div>
    <div id="E,1" class="col-sm-1 cell top-side"></div>
    <div id="F,1" class="col-sm-1 cell top-side"></div>
    <div id="G,1" class="col-sm-1 cell top-side"></div>
    <div id="H,1" class="col-sm-1 cell top-side"></div>
    <div id="I,1" class="col-sm-1 cell top-side"></div>
    <div id="J,1" class="col-sm-1 cell top-side"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row2" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,2" class="col-sm-1 cell" onclick="myFunction('A,2')"></div>
    <div id="B,2" class="col-sm-1 cell" onclick="myFunction('B,2')"></div>
    <div id="C,2" class="col-sm-1 cell" onclick="myFunction('C,2')"></div>
    <div id="D,2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E,2" class="col-sm-1 cell"></div>
    <div id="F,2" class="col-sm-1 cell"></div>
    <div id="G,2" class="col-sm-1 cell"></div>
    <div id="H,2" class="col-sm-1 cell"></div>
    <div id="I,2" class="col-sm-1 cell"></div>
    <div id="J,2" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row3" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,3" class="col-sm-1 cell"></div>
    <div id="B,3" class="col-sm-1 cell"></div>
    <div id="C,3" class="col-sm-1 cell"></div>
    <div id="D,3" class="col-sm-1 cell"></div>
    <div id="E,3" class="col-sm-1 cell"></div>
    <div id="F,3" class="col-sm-1 cell"></div>
    <div id="G,3" class="col-sm-1 cell"></div>
    <div id="H,3" class="col-sm-1 cell"></div>
    <div id="I,3" class="col-sm-1 cell"></div>
    <div id="J,3" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row4" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,4" class="col-sm-1 cell"></div>
    <div id="B,4" class="col-sm-1 cell"></div>
    <div id="C,4" class="col-sm-1 cell"></div>
    <div id="D,4" class="col-sm-1 cell"></div>
    <div id="E,4" class="col-sm-1 cell"></div>
    <div id="F,4" class="col-sm-1 cell"></div>
    <div id="G,4" class="col-sm-1 cell"></div>
    <div id="H,4" class="col-sm-1 cell"></div>
    <div id="I,4" class="col-sm-1 cell"></div>
    <div id="J,4" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row5" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,5" class="col-sm-1 cell"></div>
    <div id="B,5" class="col-sm-1 cell"></div>
    <div id="C,5" class="col-sm-1 cell"></div>
    <div id="D,5" class="col-sm-1 cell"></div>
    <div id="E,5" class="col-sm-1 cell"></div>
    <div id="F,5" class="col-sm-1 cell"></div>
    <div id="G,5" class="col-sm-1 cell"></div>
    <div id="H,5" class="col-sm-1 cell"></div>
    <div id="I,5" class="col-sm-1 cell"></div>
    <div id="J,5" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row6" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,6" class="col-sm-1 cell"></div>
    <div id="B,6" class="col-sm-1 cell"></div>
    <div id="C,6" class="col-sm-1 cell"></div>
    <div id="D,6" class="col-sm-1 cell"></div>
    <div id="E,6" class="col-sm-1 cell"></div>
    <div id="F,6" class="col-sm-1 cell"></div>
    <div id="G,6" class="col-sm-1 cell"></div>
    <div id="H,6" class="col-sm-1 cell"></div>
    <div id="I,6" class="col-sm-1 cell"></div>
    <div id="J,6" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row7" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,7" class="col-sm-1 cell"></div>
    <div id="B,7" class="col-sm-1 cell"></div>
    <div id="C,7" class="col-sm-1 cell"></div>
    <div id="D,7" class="col-sm-1 cell"></div>
    <div id="E,7" class="col-sm-1 cell"></div>
    <div id="F,7" class="col-sm-1 cell"></div>
    <div id="G,7" class="col-sm-1 cell"></div>
    <div id="H,7" class="col-sm-1 cell"></div>
    <div id="I,7" class="col-sm-1 cell"></div>
    <div id="J,7" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row8" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,8" class="col-sm-1 cell"></div>
    <div id="B,8" class="col-sm-1 cell"></div>
    <div id="C,8" class="col-sm-1 cell"></div>
    <div id="D,8" class="col-sm-1 cell"></div>
    <div id="E,8" class="col-sm-1 cell"></div>
    <div id="F,8" class="col-sm-1 cell"></div>
    <div id="G,8" class="col-sm-1 cell"></div>
    <div id="H,8" class="col-sm-1 cell"></div>
    <div id="I,8" class="col-sm-1 cell"></div>
    <div id="J,8" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row9" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,9" class="col-sm-1 cell"></div>
    <div id="B,9" class="col-sm-1 cell"></div>
    <div id="C,9" class="col-sm-1 cell"></div>
    <div id="D,9" class="col-sm-1 cell"></div>
    <div id="E,9" class="col-sm-1 cell"></div>
    <div id="F,9" class="col-sm-1 cell"></div>
    <div id="G,9" class="col-sm-1 cell"></div>
    <div id="H,9" class="col-sm-1 cell"></div>
    <div id="I,9" class="col-sm-1 cell"></div>
    <div id="J,9" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row10" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,10" class="col-sm-1 cell"></div>
    <div id="B,10" class="col-sm-1 cell"></div>
    <div id="C,10" class="col-sm-1 cell"></div>
    <div id="D,10" class="col-sm-1 cell"></div>
    <div id="E,10" class="col-sm-1 cell"></div>
    <div id="F,10" class="col-sm-1 cell"></div>
    <div id="G,10" class="col-sm-1 cell"></div>
    <div id="H,10" class="col-sm-1 cell"></div>
    <div id="I,10" class="col-sm-1 cell"></div>
    <div id="J,10" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row11" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,11" class="col-sm-1 cell"></div>
    <div id="B,11" class="col-sm-1 cell"></div>
    <div id="C,11" class="col-sm-1 cell"></div>
    <div id="D,11" class="col-sm-1 cell"></div>
    <div id="E,11" class="col-sm-1 cell"></div>
    <div id="F,11" class="col-sm-1 cell"></div>
    <div id="G,11" class="col-sm-1 cell"></div>
    <div id="H,11" class="col-sm-1 cell"></div>
    <div id="I,11" class="col-sm-1 cell"></div>
    <div id="J,11" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row12" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,12" class="col-sm-1 cell"></div>
    <div id="B,12" class="col-sm-1 cell"></div>
    <div id="C,12" class="col-sm-1 cell"></div>
    <div id="D,12" class="col-sm-1 cell"></div>
    <div id="E,12" class="col-sm-1 cell"></div>
    <div id="F,12" class="col-sm-1 cell"></div>
    <div id="G,12" class="col-sm-1 cell"></div>
    <div id="H,12" class="col-sm-1 cell"></div>
    <div id="I,12" class="col-sm-1 cell"></div>
    <div id="J,12" class="col-sm-1 cell"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row13" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A,13" class="col-sm-1 cell bot-side"></div>
    <div id="B,13" class="col-sm-1 cell bot-side"></div>
    <div id="C,13" class="col-sm-1 cell bot-side"></div>
    <div id="D,13" class="col-sm-1 cell bot-side"></div>
    <div id="E,13" class="col-sm-1 cell bot-side"></div>
    <div id="F,13" class="col-sm-1 cell bot-side"></div>
    <div id="G,13" class="col-sm-1 cell bot-side"></div>
    <div id="H,13" class="col-sm-1 cell bot-side"></div>
    <div id="I,13" class="col-sm-1 cell bot-side"></div>
    <div id="J,13" class="col-sm-1 cell bot-side"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
</div>
