@{
  Layout = "_Layout";
}

<center>
  <h2 class="turn1">Player 1 Turn</h2>
  <h2 class="turn2">Player 2 Turn</h2>
  <h3 id="newword">Current Word: </h3>
  @if (@Model != null)
  {
    <input id="isword" type="text" name="isword" value=@Model["valid"]>
    <input id="word" type="text" name="word" value=@Model["word"]>
    <input id="p1cells" type="text" name="p1cells" value=@Model["player1cells"]>
    <ul>
      @foreach (var cell in @Model["player1cells"])
      {
        <li class="p1">@cell</li>
      }
    </ul>
  }
    <form id="#verifyForm" action="/" method="post">
    <input id="verify" type="hidden" name="newword" value="">
    <button id="verifyWord" type="submit" class="btn btn-warning">Verify Word</button>
  </form>
  <button id="turnEnd" type="submit" class="btn btn-warning">End Turn</button>
  <button id="reload" type="submit" class="btn btn-warning">Reload Board</button>
  <button id="reset" type="submit" class="btn btn-warning">New Game</button>
</center>
<div class="container">
  <div id="row1" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div id="B1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div id="C1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div id="D1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div id="E1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div id="F1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div id="G1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div id="H1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div id="I1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div id="J1" class="col-sm-1 cell top-side" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row2" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J2" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row3" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J3" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row4" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J4" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row5" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J5" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row6" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J6" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row7" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J7" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row8" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J8" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row9" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J9" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row10" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J10" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row11" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J11" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row12" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="B12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="C12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="D12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="E12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="F12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="G12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="H12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="I12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div id="J12" class="col-sm-1 cell" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
  <div id="row13" class="row">
    <div class="col-sm-1 spacer"></div>
    <div id="A13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div id="B13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div id="C13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div id="D13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div id="E13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div id="F13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div id="G13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div id="H13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div id="I13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div id="J13" class="col-sm-1 cell bot-side" onclick="myFunction(this.id)"></div>
    <div class="col-sm-1 spacer"></div>
  </div>
</div>
